.form_style {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgb(112, 112, 112);
}
.form_label_style {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.form_number_style, .form_result_style {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.form_number_style {
    background-color: #f9f9f9;
}
.result_button {
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.result_button:hover {
    background-color: #ff8800;
}